
/*
---------------------------------------------
root
---------------------------------------------
*/
:root{
  /* font */
  --f-m-color : #2a2a2a;
  --f-g-color : #aaa;
  --f-n-size : .9375rem;
 
 
  /* color */
  --bg-color : #2a2a2a;
 
 
  /* element interval */
  --el-s-interval : 1.875rem;
 }
 

/*
---------------------------------------------
root
---------------------------------------------
*/
:root{
  /* font */
  --f-m-color : #2a2a2a;
  --f-g-color : #aaa;
  --f-n-size : .9375rem;
 
 
  /* color */
  --bg-color : #2a2a2a;
 
 
  /* element interval */
  --el-s-interval : 1.875rem;
 }
/* container - fit center element  */
.container{
  width:1200px;
  height: auto;
  margin: auto;
}

/* header style */
header{
  width:100%;
  height:auto;
  padding:1.25rem 0;
}

/* dot bottom */
.dot-bottom{
  border-bottom: 2px dotted #eee;
}