.wrapper{
  width:100%;
  height:auto;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .navi{
  display: flex;
  column-gap: var(--el-s-interval )
}

header .navi a{
  font-weight: 600;
  font-size: var(--f-n-size);
  letter-spacing: 1px; /*글자와 글글자  사사이이의  간격*/
  color:var(--f-m-color);
  transition:all .4s;
}

header .navi a:hover,
header .navi li.active a{
  color:var(--f-g-color);
}

